@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$fbw-cyan: #00C2CB;

#live-map {
  height: 100vh;
  width: 100vw;

  .panel {
    font-family: "Nunito Sabs", sans-serif;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    background: rgb(40, 40, 40);
    pointer-events: all !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    p {
      margin: 0;
    }
  }

  .search-panel {
    margin: 1rem 0 0 1rem
  }

  .info-panel {
    margin: 0 0 1rem 1rem;
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip,
  .leaflet-tooltip-top {
    background-color: rgba(255,255,255,0.6);
  }
}
