@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

#mapid {
  height: 100vh;
  width: 100vw;

  .map-icon-shadow {
    text-shadow: 0 0 4px #000000;
  }

  #MapPanel {
    font-family: "Nunito Sabs", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0 0 2.5rem 2.5rem;
    padding: 1rem;
    // height: 10rem;
    // width: 30rem;
    background: rgb(40, 40, 40);
    pointer-events: all !important;

    .PanelText {
      margin: 0;
      padding: 0 !important;
    }
  }
}
